---
import oscar from "../assets/oscar.png";

const experience = [
   {
      title: "Technology Consultant",
      employer: "Slalom",
      date: "Feb 2019 - Pres",
   },
   {
      title: "Lead Front-End Developer",
      employer: "Accenture",
      date: "July 2015 - Jan 2019",
   },
   {
      title: "UX/UI Engineer",
      employer: "Avanade",
      date: "Abr 2013 - Jun 2015",
   },
   {
      title: "Webmaster",
      employer: "Tec de Monterrey",
      date: "Jan 2010 - Mar 2013",
   },
];

const education = [
   {
      title: "MBA",
      employer: "Tec de Monterrey",
      date: "2011 - 2013",
   },
   {
      title: "GRAPHIC DESIGN",
      employer: "UMM, MX",
      date: "2007 - 2010",
   },
];
---

<section id="about" class="about">
   <div class="about__banner">
      <h1>About me</h1>
      <div class="about__banner-wrapper">
         <div class="about__banner-content">
            <p class="about__banner-text">
               "I'm a creative <b>designer and front-end-focused developer</b>,
               full-stack capable, from Monterrey, MX. I focus on building
               high-quality experiences from concept to implementation,
               prioritizing accessibility, aesthetics, performance, and
               efficiency."
            </p>
            <p class="about__banner-small-text">
               <small
                  >When I'm not designing or developing products or websites,
                  I'm constantly creating music. My favorite instrument is the
                  electric guitar—check out one of my songs!</small
               >
            </p>
         </div>
         <div class="about__banner-photo">
            <img src={oscar.src} />
         </div>
      </div>
   </div>
   <div class="about__content">
      <div class="about__content-skills">
         <h1>Skills</h1>
         <p class="about__content-skills-text">
            HTML5 / CSS3 / JavaScript / Typescript / PHP / Python /Front-End
            Architecture / UX Design / Design Systems / Interaction Design /
            Accessibility / Rapid Prototyping / Wire-framing
         </p>
      </div>
      <div class="about__content-exp">
         <div class="about__content-exp-details">
            <h1>Experience</h1>
            <div class="about__content-exp-details-items">
               {
                  experience.map((job) => (
                     <div class="about__content-exp-details-item">
                        <b>{job.title}</b>
                        <div class="about__content-exp-details-item-data">
                           <p>{job.employer}</p>
                           <p>{job.date}</p>
                        </div>
                     </div>
                  ))
               }
            </div>
         </div>
         <div class="about__content-exp-details">
            <h1>Education</h1>
            <div class="about__content-exp-details-items">
               {
                  education.map((job) => (
                     <div class="about__content-exp-details-item">
                        <b>{job.title}</b>
                        <div class="about__content-exp-details-item-data">
                           <p>{job.employer}</p>
                           <p>{job.date}</p>
                        </div>
                     </div>
                  ))
               }
            </div>
         </div>
      </div>
   </div>
</section>

<style>
   .about {
      width: 100%;
      max-width: 1728px;
      margin: 0 auto;
      padding: 180px 140px;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #fff;
      gap: 284px;

      h1 {
         font-size: 26px;
         font-weight: 600;
         letter-spacing: 7px;
         font-family: "Mulish", serif;
         text-transform: uppercase;
      }

      &__banner {
         display: flex;
         flex-direction: column;
         gap: 30px;

         &-wrapper {
            display: flex;
            flex-direction: row;
            gap: 114px;
         }

         &-content {
            display: flex;
            gap: 30px;
            flex-direction: column;
         }

         &-photo {
            & img {
               max-width: 331px;
            }
         }
         &-text {
            font-size: 38px;
            line-height: 55px;
            font-weight: 100;
            font-style: light;
         }

         b {
            font-weight: 600;
         }

         &-small-text {
            font-size: 25px;
            line-height: 36px;
            font-weight: 100;
         }
      }

      &__content {
         display: flex;
         gap: 120px;

         &-skills {
            max-width: 661px;
            display: flex;
            flex-direction: column;
            gap: 30px;

            &-text {
               line-height: 48px;
               font-weight: 100;
               font-size: 25px;
            }
         }
         &-exp {
            display: flex;
            flex-direction: column;
            gap: 60px;
            width: 100%;

            &-details {
               display: flex;
               flex-direction: column;
               gap: 30px;

               &-items {
                  gap: 30px;
                  display: flex;
                  flex-direction: column;
               }

               &-item {
                  border-bottom: solid 1px #fff;
                  padding-bottom: 20px;
                  font-weight: 600;
                  font-size: 25px;
                  display: flex;
                  flex-direction: column;
                  gap: 10px;
               }

               &-item-data {
                  display: flex;
                  justify-content: space-between;
                  font-weight: 100;
               }
            }
         }
      }
   }
</style>
