---
import oscar from "../assets/oscar.png";
import react from "../../public/toolstackIcons/icon-react.svg";
import nextjs from "../../public/toolstackIcons/icon-nextjs.svg";
import angular from "../../public/toolstackIcons/icon-angularjs.svg";
import node from "../../public/toolstackIcons/icon-nodejs.svg";
import storybook from "../../public/toolstackIcons/icon-storybook.svg";
import amplify from "../../public/toolstackIcons/icon-amplify.svg";
import materialui from "../../public/toolstackIcons/icon-materialui.svg";
import vue from "../../public/toolstackIcons/icon-vuejs.svg";
import wordpress from "../../public/toolstackIcons/icon-wordpress.svg";
import photoshop from "../../public/toolstackIcons/icon-photoshop.svg";
import figma from "../../public/toolstackIcons/icon-figma.svg";
import github from "../../public/toolstackIcons/icon-github.svg";
import sketch from "../../public/toolstackIcons/icon-sketch.svg";
import afterEffects from "../../public/toolstackIcons/icon-aftereffects.svg";
import inVision from "../../public/toolstackIcons/icon-invision.svg";
import premiere from "../../public/toolstackIcons/icon-premierepro.svg";
import bitbucket from "../../public/toolstackIcons/icon-bitbucket.svg";
import illustrator from "../../public/toolstackIcons/icon-illustrator.svg";

const experience = [
   {
      title: "Technology Consultant",
      employer: "Slalom",
      date: "Feb 2019 - Pres",
   },
   {
      title: "Lead Front-End Developer",
      employer: "Accenture",
      date: "July 2015 - Jan 2019",
   },
   {
      title: "UX/UI Engineer",
      employer: "Avanade",
      date: "Abr 2013 - Jun 2015",
   },
   {
      title: "Webmaster",
      employer: "Tec de Monterrey",
      date: "Jan 2010 - Mar 2013",
   },
];

const education = [
   {
      title: "MBA",
      employer: "Tec de Monterrey",
      date: "2011 - 2013",
   },
   {
      title: "GRAPHIC DESIGN",
      employer: "UMM, MX",
      date: "2007 - 2010",
   },
];
---

<section id="about" class="about">
   <div class="about__banner">
      <h1 class="tabletOnly">About me</h1>
      <div class="about__banner-wrapper">
         <div class="about__banner-content">
            <p class="about__banner-text">
               I'm a creative <b>designer and front-end-focused developer</b>,
               full-stack capable, from Monterrey, MX. I focus on building
               high-quality experiences from concept to implementation,
               prioritizing accessibility, aesthetics, performance, and
               efficiency.
            </p>
            <p class="about__banner-small-text">
               When I'm not designing or developing products or websites, I'm
               constantly creating music. My favorite instrument is the electric
               guitar—check out one of my songs!
            </p>
         </div>
         <h1 class="mobileOnly">About me</h1>
         <div class="about__banner-photo">
            <img src={oscar.src} />
         </div>
      </div>
   </div>
   <div class="about__content">
      <div class="about__content-skills">
         <h1>Skills</h1>
         <p class="about__content-skills-text">
            HTML5 / CSS3 / JavaScript / Typescript / PHP / Python /Front-End
            Architecture / UX Design / Design Systems / Interaction Design /
            Accessibility / Rapid Prototyping / Wire-framing
         </p>
      </div>
      <div class="about__content-exp">
         <div class="about__content-exp-details">
            <h1>Experience</h1>
            <div class="about__content-exp-details-items">
               {
                  experience.map((job) => (
                     <div class="about__content-exp-details-item">
                        <b>{job.title}</b>
                        <div class="about__content-exp-details-item-data">
                           <p>{job.employer}</p>
                           <p>{job.date}</p>
                        </div>
                     </div>
                  ))
               }
            </div>
         </div>
         <div class="about__content-exp-details">
            <h1>Education</h1>
            <div class="about__content-exp-details-items">
               {
                  education.map((job) => (
                     <div class="about__content-exp-details-item">
                        <b>{job.title}</b>
                        <div class="about__content-exp-details-item-data">
                           <p>{job.employer}</p>
                           <p>{job.date}</p>
                        </div>
                     </div>
                  ))
               }
            </div>
         </div>
      </div>
   </div>
   <div class="about__toolstack">
      <h1>Tool stack</h1>
      <div class="about__toolstack-grid">
         <img src={react.src} />
         <img src={nextjs.src} />
         <img src={angular.src} />
         <img src={node.src} />
         <img src={storybook.src} />
         <img src={amplify.src} />
         <img src={materialui.src} />
         <img src={vue.src} />
         <img src={wordpress.src} />
         <img src={photoshop.src} />
         <img src={figma.src} />
         <img src={github.src} />
         <img src={sketch.src} />
         <img src={afterEffects.src} />
         <img src={inVision.src} />
         <img src={premiere.src} />
         <img src={bitbucket.src} />
         <img src={illustrator.src} />
      </div>
   </div>
</section>

<style>
   @import "@styles/mixins.css";

   .about {
      /* Global */
      width: 100%;
      max-width: 1728px;
      margin: 0 auto 15%;
      padding: 120px 30px;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #fff;
      gap: 160px;

      @mixin screen md {
         padding: 180px 90px;
      }

      @mixin screen xl {
         padding: 180px 140px;
         gap: 184px;
      }
      /* Global */
      h1 {
         font-size: 26px;
         font-weight: 600;
         letter-spacing: 7px;
         font-family: "Mulish", serif;
         text-transform: uppercase;
      }

      &__banner {
         display: flex;
         flex-direction: column;
         gap: 30px;

         &-wrapper {
            display: flex;
            flex-direction: column-reverse;
            gap: 30px;

            @mixin screen lg {
               flex-direction: row;
               gap: 114px;
            }
         }

         &-content {
            display: flex;
            gap: 30px;
            flex-direction: column;
         }

         &-photo {
            & img {
               max-width: 271px;
               margin: 0 auto;
               display: block;

               @mixin screen md {
                  max-width: 331px;
               }
            }
         }
         &-text {
            font-size: 28px;
            line-height: 40px;
            font-weight: 100;
            font-style: light;

            @mixin screen md {
               font-size: 38px;
               line-height: 55px;
            }
         }

         b {
            font-weight: 600;
         }

         &-small-text {
            font-size: 20px;
            line-height: 36px;
            font-weight: 100;
            @mixin screen md {
               font-size: 25px;
            }
         }
      }

      &__content {
         display: flex;
         gap: 120px;
         flex-direction: column;

         @mixin screen lg {
            display: flex;
            flex-direction: row;
         }

         &-skills {
            max-width: 661px;
            display: flex;
            flex-direction: column;
            gap: 30px;

            &-text {
               line-height: 48px;
               font-weight: 100;
               font-size: 25px;

               @mixin screen lg {
                  font-size: 20px;
               }
            }
         }

         &-exp {
            display: flex;
            flex-direction: column;
            gap: 60px;
            width: 100%;

            &-details {
               display: flex;
               flex-direction: column;
               gap: 30px;

               &-items {
                  gap: 30px;
                  display: flex;
                  flex-direction: column;
               }

               &-item {
                  border-bottom: solid 1px #fff;
                  padding-bottom: 20px;
                  font-weight: 600;
                  font-size: 18px;
                  display: flex;
                  flex-direction: column;
                  gap: 10px;

                  @mixin screen lg {
                     font-size: 25px;
                  }
               }

               &-item-data {
                  display: flex;
                  justify-content: space-between;
                  font-weight: 100;
               }
            }
         }
      }

      &__toolstack {
         &-grid {
            margin-top: 60px;
            display: grid;
            grid-template-columns: repeat(3, 1fr); /* 9 equal columns */
            width: 100%;
            gap: 60px 30px;
            text-align: center;

            @mixin screen md {
               gap: 60px 90px;
               grid-template-columns: repeat(4, 1fr); /* 9 equal columns */
            }
            @mixin screen lg {
               grid-template-columns: repeat(5, 1fr); /* 9 equal columns */
            }
            @mixin screen xl {
               grid-template-columns: repeat(6, 1fr); /* 9 equal columns */
            }
            @mixin screen xxl {
               grid-template-columns: repeat(9, 1fr); /* 9 equal columns */
            }
         }
      }
   }
</style>
