---
import Layout from "@layouts/Layout.astro";
import Button from "@components/Button/Button.tsx";
import closeButton from "@assets/close_menu.svg";

import "./project.css";

export async function getStaticPaths() {
   const allProjects = await fetch(
      "https://zz0l98xy6f.execute-api.us-east-2.amazonaws.com/dev/projects",
   );
   if (!allProjects.ok) throw new Error("Failed to fetch projects");
   const projectsData = await allProjects.json();

   return projectsData.projects.map((project: { id: string }) => ({
      params: { projectId: project.id },
   }));
}

const { projectId } = Astro.params;
const response = await fetch(
   `https://zz0l98xy6f.execute-api.us-east-2.amazonaws.com/dev/projects/${projectId}`,
);
if (!response.ok) throw new Error("Failed to fetch project");
const project = await response.json();
const fieldTo = project.nextProject[0];
const media = project.media;
const isImage = (url: string) => /\.(jpg|jpeg|png|gif)$/i.test(url);
const isVideo = (url: string) => /\.(mp4|mov|webm)$/i.test(url);
const paragraphs = project.longDescription.split("\n\n");
const splitBulletList = (text: string) =>
  text
    .split('•')
    .map(item => item.trim())
    .filter(item => item.length > 0); // ✅ Remove empty items
---

<Layout hideMenu={true}>
   <div class="project-page">
      <a href="/?section=projects" class="project-page__close-project spin-on-hover">
         <img src={closeButton.src} alt="close project" />
      </a>
      <div class="project-page__lead">
         <div class="project-page__long-description">
            <h1>{project.name} {project.type ? "-" : ""} {project.type}</h1>
            <div>
               {
                  paragraphs.map((p: string, i: number) =>
                     p.includes("•") ? (
                        <ul>
                           {splitBulletList(p).map((item, j) => (
                              <li>{item}</li>
                           ))}
                        </ul>
                     ) : (
                           <p>{p}</p>
                           <br />
                     ),
                  )
               }
            </div>

         </div>
         <div class="project-page__metadata">
            <p class="label">Services:</p>
            <p>
               {
                  project.services.map((item: string, i: number) => (
                     <span>
                        {item}
                        {project.services.length === i + 1 ? "" : "/"}
                     </span>
                  ))
               }
            </p>
            <p class="label">Client:</p>
            <p>{project.client}</p>
            <p class="label">Year:</p>
            <p>{project.year}</p>
            <p>
               {
                  (project.viewSite.href && project.viewSite.label) && 
                  <Button target="_blank" anchor url={project.viewSite.href} label={project.viewSite.label} />
               }
            </p>
         </div>
      </div>
      <div class="project-page__media">
         {
            media.map((item: any, index: number) => (
               <div class="project-page__asset">
                  {item.title && <h2>{item.title}</h2>}

                  {isImage(item.asset) && (
                     <img
                        src={item.asset}
                        alt={item.title || `Project media ${index}`}
                        width="100%"
                     />
                  )}

                  {isVideo(item.asset) && (
                     <video controls autoplay width="100%">
                        <source src={item.asset} />
                        Your browser does not support the video tag.
                     </video>
                  )}
               </div>
            ))
         }
         {
            media.map((asset: string, index: number) => (
               <>
                  {isImage(asset) && (
                     <img
                        src={asset}
                        alt={`Project media ${index}`}
                        class="rounded-md w-full"
                     />
                  )}
                  {isVideo(asset) && (
                     <video controls class="rounded-md w-full">
                        <source src={asset} />
                        Your browser does not support the video tag.
                     </video>
                  )}
               </>
            ))
         }
      </div>
      <div class="project-page__next-project-menu">
         <div>
            {
               (fieldTo.prevProjectRoute && fieldTo.prevProjectLabel) && 
               <Button anchor url={fieldTo.prevProjectRoute} label={"<< Prev "} /> 
            }
         </div>
         <div></div>
         <div>
            {
               (fieldTo.nextProjectRoute && fieldTo.nextProjectLabel) && 
               <Button anchor url={fieldTo.nextProjectRoute} label={"Next >>"} /> 
            }
      </div>
   </div>
</Layout>
